description = "Default layout"

[alternateHrefLangElements]

[genericForm]
rules[email] = "required"
rules_messages[email.required] = "Proszę podać kontakt."
messages_success = "Dziękuję za wiadomość"
messages_errors = "Wystąpiły probemy z wysłaniem wiadomości"
mail_enabled = 1
mail_recipients[] = "admin@gatesms.eu"
mail_resp_enabled = 1
reset_form = 1
inline_errors = "display"
sanitize_data = "htmlspecialchars"
anonymize_ip = "disabled"
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"
==
<!DOCTYPE html>
<html lang="{{ this.theme.site_locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ this.page.description }}">

    <title>{% if this.page.title %}{{ this.page.title}} &#124; {% endif %}{{ this.theme.site_title }}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ 'assets/vendor/bootstrap/css/bootstrap.min.css' | theme }}" rel="stylesheet">

    <!-- Custom Fonts -->

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{{ 'assets/vendor/font-awesome/css/font-awesome.min.css' | theme }}">
    <link rel="stylesheet" href="{{ 'assets/vendor/simple-line-icons/css/simple-line-icons.css' | theme }}">

    <!-- Theme CSS -->
    <link href="{{ 'assets/css/programmers.css' | theme }}" rel="stylesheet">
    {% styles %}

</head>

<body id="page-top">

{% partial 'modules/nav' %}
{% page %}


<script src="{{ 'assets/vendor/jquery/jquery.min.js' | theme }}"></script>
<script src="{{ 'assets/vendor/bootstrap/js/bootstrap.js' | theme }}"></script>
<script src="{{ 'assets/vendor/jquery-easing/jquery.easing.min.js' | theme }}"></script>
<script src="{{ 'assets/js/new-age.min.js' | theme }}"></script>
{% scripts %}
{% framework %}
{% framework extras %}
</body>
</html>