@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
#mainNav {border-color:rgba(34,34,34,0.05);background-color:transparent;-webkit-transition:all .35s;-moz-transition:all .35s;transition:all .35s;font-family:'Montserrat','Catamaran','Helvetica','Arial','sans-serif';font-weight:200;letter-spacing:1px}
#mainNav .navbar-shrink {border-color:rgba(34,34,34,0.1);background-color:white}
#mainNav .navbar-shrink .navbar-brand {color:#222}
#mainNav .navbar-shrink .navbar-brand:hover,
#mainNav .navbar-shrink .navbar-brand:focus {color:#fdcc52}
#mainNav .navbar-shrink .navbar-nav >li >a:focus {color:#222}
#mainNav .navbar-shrink .navbar-nav >li >a:hover,
#mainNav .navbar-shrink .navbar-nav >li >a:focus:hover {color:#fdcc52}
#mainNav .navbar-brand {color:#fdcc52;font-family:'Montserrat','Catamaran','Helvetica','Arial','sans-serif';font-weight:200;letter-spacing:1px}
#mainNav .navbar-brand:hover,
#mainNav .navbar-brand:focus {color:#00008b}
#mainNav .navbar-toggler {font-size:12px;padding:8px 10px;color:#222}
#mainNav .navbar-toggler .navbar-nav >li >a {font-size:11px;font-family:'Montserrat','Lato','Helvetica','Arial','sans-serif';letter-spacing:2px;text-transform:uppercase}
#mainNav .navbar-nav >li a.active {color:#00008b !important;background-color:transparent}
#mainNav .navbar-nav >li a.active:hover {background-color:transparent}
#mainNav .navbar-nav >li a:focus {color:#222}
#mainNav .navbar-nav >li a:hover {color:#fdcc52}
@media only screen and (min-width:500px) {#mainNav .navbar-nav >li {border-color:transparent;background-color:transparent }}
#mainNav .navbar-brand {color:rgba(255,255,255,0.7)}
#mainNav .navbar-brand:hover,
#mainNav .navbar-brand:focus {color:white}
#mainNav .navbar-brand .navbar-nav >li >a,
#mainNav .navbar-brand .navbar-nav >li >a:focus {color:rgba(255,255,255,0.7)}
#mainNav .navbar-nav >li >a:hover,
#mainNav .navbar-nav >li >a:focus:hover {color:white}
header.masthead {position:relative;width:100%;padding-top:150px;color:white;margin-top:-30px}
header.masthead .header-content {max-width:100%;margin-bottom:100px;text-align:center;color:white;margin-top:-50%}
header.masthead .header-content h1 {font-size:80px;font-weight:300}
@media only screen and (min-width:1900px) {header.masthead .header-content h1 {font-size:120px }}
@media only screen and (min-width:992px) {header.masthead {height:100vh;min-height:775px;padding-top:0;padding-bottom:0 }}
header.masthead .btn-outline {color:#fff;border:1px solid;border-color:#fff}
header.masthead .btn-outline:hover,
header.masthead .btn-outline:focus,
header.masthead .btn-outline:active,
header.masthead .btn-outline .active {color:white;border-color:#fdcc52;background-color:#fdcc52}
header.masthead .fullscreen-bg {top:0;right:0;bottom:0;left:0;overflow:hidden;width:100%;height:100%}
header.masthead .fullscreen-bg__video {position:absolute;top:0;left:0;width:100%;height:100%}
section.services {position:relative;background-color:white;background-position:center;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;background-attachment:fixed;background-repeat:no-repeat}
section.services .row {max-width:90%;margin-left:50%;margin:auto}
section.services .col-lg-3 {padding-left:2%;padding-right:2%;min-height:400px}
section.services .img {max-width:250px;padding-bottom:5%}
section.services h2 {padding-bottom:3%}
section.services p {font-size:14px}
section.services h1 {font-size:50px;margin-top:0%;margin-bottom:5%}
@media only screen and (min-width:500px) {section.services h1 {font-size:50px }}
section.services h5 {font-size:20px;font-weight:500;margin-top:0%;margin-bottom:5%}
@media only screen and (min-width:500px) {section.services h5 {font-size:20px }}
section.wow {position:relative;background-color:white;background-position:center;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;background-attachment:fixed;background-repeat:no-repeat}
section.wow h2 {padding-bottom:3%}
section.wow p {font-size:14px}
section.wow h1 {font-size:50px;margin-top:0%;margin-bottom:5%}
@media only screen and (min-width:500px) {section.wow h1 {font-size:50px }}
section.wow h5 {font-size:20px;font-weight:500;margin-top:0%;margin-bottom:5%}
@media only screen and (min-width:500px) {section.wow h5 {font-size:20px }}
section.features .carousel {height:350px;padding-top:50px}
section.features .carousel-control-prev-icon {background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important}
section.features .carousel-control-next-icon {background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important}
section.features .carousel-indicators li {background-color:black}
section.features .section-heading h2 {margin-top:0}
section.features .section-heading p {margin-bottom:0}
section.features .device-container,
section.features .feature-item {max-width:325px;margin:0 auto}
section.features .device-container {margin-bottom:100px}
@media (min-width:992px) {section.features section.features .device-container {margin-bottom:0 }}
section.features .feature-item {padding-top:50px;padding-bottom:50px;text-align:center}
section.features .feature-item h3 {font-size:30px}
section.features .feature-item i {font-size:80px;display:block;margin-bottom:15px;background:-webkit-linear-gradient(to left,#7b4397,#dc2430);background:linear-gradient(to left,#7b4397,#dc2430);-webkit-background-clip:text;-webkit-text-fill-color:transparent}
.form {font-family:'Montserrat','Muli','Helvetica','Arial','sans-serif';color:#00008b}
.form textarea {background-color:transparent;border-color:#00008b;border-style:solid;border-size:1px;font-weight:500}
.form input[type=text] {background-color:transparent;border-color:#00008b;border-style:solid;border-size:1px;font-weight:500}
.form button {margin-left:45%;margin-right:auto;min-width:150px}
section.technology {background-color:white;background-position:center;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover}
section.technology img {width:100px}
section.technology .col-md-2 {padding:10px;text-align:center}
section.technology h2 {padding-bottom:3%}
section.technology p {font-size:14px}
section.technology h1 {font-size:50px;margin-top:0%;margin-bottom:5%}
@media only screen and (min-width:500px) {section.technology h1 {font-size:50px }}
section.technology h5 {font-size:20px;font-weight:500;margin-top:0%;margin-bottom:5%}
@media only screen and (min-width:500px) {section.technology h5 {font-size:20px }}
section.contact {position:relative;padding:10% 0;background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 240"><path fill="#06f" fill-opacity="1" d="M0,256L80,234.7C160,213,320,171,480,176C640,181,800,235,960,229.3C1120,224,1280,160,1360,128L1440,96L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path></svg>');background-position:center;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;background-attachment:fixed;background-repeat:no-repeat;height:100%;min-height:750px}
section.contact .btn {color:#06f;border-color:gray}
section.contact h2 {text-align:center;font-size:30px;margin-top:3%;margin-bottom:25px}
@media only screen and (min-width:500px) {section.contact h2 {font-size:45px }}
section.contact h2 i {color:#dd4b39}
section.contact ul.list-social {margin-bottom:0}
section.contact ul.list-social li a {font-size:40px;line-height:80px;display:block;width:80px;height:80px;color:white;border-radius:100%}
section.contact ul.list-social li.social-twitter a {background-color:#1da1f2}
section.contact ul.list-social li.social-twitter a:hover {background-color:#0d95e8}
section.contact ul.list-social li.social-facebook a {background-color:#3b5998}
section.contact ul.list-social li.social-facebook a:hover {background-color:#344e86}
section.contact ul.list-social li.social-google-plus a {background-color:#dd4b39}
section.contact ul.list-social li.social-google-plus a:hover {background-color:#d73925}
section.contact footer {padding:25px 0;text-align:left;color:white}
section.contact footer p {font-size:12px;margin:0}
.btn-outline {color:white;border:1px solid;border-color:white}
.btn-outline :hover,
.btn-outline :focus,
.btn-outline :active,
.btn-outline .active {color:white;border-color:#fdcc52;background-color:#fdcc52}
.btn {border-radius:300px;font-family:'Lato','Helvetica','Arial','sans-serif';letter-spacing:2px;text-transform:uppercase}
.btn-xl {font-size:11px;padding:15px 45px}
html,
body {width:100%;height:100%;font-family:'Montserrat','Muli','Helvetica','Arial','sans-serif'}
a {color:#fdcc52;-webkit-transition:all .35s;-moz-transition:all .35s;transition:all .35s}
a :hover,
a :focus {color:#fcbd20}
hr {max-width:100px;margin:25px auto 0;border-width:1px;border-color:rgba(34,34,34,0.1)}
hr .light {border-color:white}
h1,
h2,
h3,
h4,
h5,
h6 {font-family:'Montserrat','Hiragino','Mincho Pro';font-weight:200;letter-spacing:1px}
p {font-size:18px;line-height:1.5;margin-bottom:20px}
section {padding:100px 0}
section h2 {font-size:50px}
.bg-primary {background:#9dd7ff;background:-webkit-linear-gradient(#9dd7ff,#fdc539);background:linear-gradient(#9dd7ff,#fdc539)}
.text-primary {color:#fdcc52}
.no-gutter >[class*='col-'] {padding-right:0;padding-left:0}