<section id="contact" class="contact">
    <div class="container">
        <h2>{{ this.theme.contact_headline | raw |_ }}</h2>
        {% if this.theme.contact_content %}
        <p>
            {{ this.theme.contact_content | raw |_ }}
        </p>
        {% endif %}
		
		<div class="row">
			<div class="col-lg-4"><img src="{{ this.theme.contact_image | media }}"></div>
			<div class="col-lg-1"></div>
			<div class="col-lg-7">
				<div class="form">{% component 'genericForm' %}</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-12">
        <ul class="list-inline list-social">
            {% if this.theme.contact_twitter %}
            <li class="list-inline-item social-twitter">
                <a href="{{ this.theme.contact_twitter }}">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            {% endif %}
            {% if this.theme.contact_facebook %}
            <li class="list-inline-item social-facebook">
                <a href="{{ this.theme.contact_facebook }}">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            {% endif %}
            {% if this.theme.contact_google %}
            <li class="list-inline-item social-google-plus">
                <a href="{{ this.theme.contact_google }}">
                    <i class="fa fa-google-plus"></i>
                </a>
            </li>
            {% endif %}
        </ul>
			</div>
		</div>
    </div>
{% if this.theme.footer_menu %}    
	{% partial 'modules/footer.htm' %}
{% endif %}

</section>
