==
<section class="cta" id="cta">
    <div class="cta-content">
        <div class="container">
	        <div class="row">
		        <div class="col-lg-6"></div>
		        <div class="col-lg-6">
		            <h2>{{ this.theme.cta_headline | raw |_  }}</h2>

		            {% if this.theme.cta_button_link %}
		            <a href="{{ this.theme.cta_button_link }}" class="btn btn-outline btn-xl js-scroll-trigger">
		                {{ this.theme.cta_button | raw |_ }}
		            </a>
		            {% endif %}
		            <h6>{{ this.theme.cta_smalltext | raw |_ }}</h6>
		            <div class="form">{% component 'genericForm' %}</div>
		        </div>
	        </div>
        </div>
    </div>
</section>

