<section id="features" class="features">
    <div class="container">
        <div class="section-heading text-center">
            <h2>{{ this.theme.features_headline | raw |_ }}</h2>
            <p class="text-muted">{{ this.theme.features_subheadline |_ }}</p>
            <hr>
        </div>
        <div class="row">
            <div class="col-lg-12 my-auto">
                <div class="container-fluid">
                    {% if this.theme.features_product %}
                        {% partial 'features/items' %}
                    {% else %}
                        {% partial 'features/dummy' %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% put scripts %}
<script>
	$(document).ready(function(){
	$('.carousel').carousel()
	});
</script>
{% endput %}

