<section class="services" id="services">
    <div class="container">
    	<h2 class="text-center">
        	{{ this.theme.services_headline | raw |_ }}
        </h2>
		<div class="row">
		  	<div class="col-lg-3">
				<div class="row">
				{% if this.theme.services_img1 %}  
					<img src="{{ this.theme.services_img1 | media }}" alt="...">
				{% endif %}
				</div>
				<div class="row">
			      	<h5>{{ this.theme.services_headline1 | raw |_ }}</h5>
				  	{{ this.theme.services_content1 | raw |_ }}
				</div>
		  	</div>
		  	<div class="col-lg-3">
			  	<div class="row">
			{% if this.theme.services_img2 %}  
		    	<img src="{{ this.theme.services_img2 | media }}" alt="...">
		    {% endif %}
			  	</div>
			  	<div class="row">
			    <h5>{{ this.theme.services_headline2 | raw |_ }}</h5>
				{{ this.theme.services_content2 | raw |_ }}
			  	</div>
		  </div>
		  	<div class="col-lg-3">
			  	<div class="row">
			{% if this.theme.services_img3 %}  
		    	<img src="{{ this.theme.services_img3 | media }}" alt="...">
		    {% endif %}
			  	</div>
			  	<div class="row">
			    <h5>{{ this.theme.services_headline3 | raw |_ }}</h5>
				{{ this.theme.services_content3 | raw |_ }}
			  	</div>
		  </div>
		  <div class="col-lg-3">
			  <div class="row">
			{% if this.theme.services_img4 %}  
			    <img src="{{ this.theme.services_img4 | media }}" alt="...">
		    {% endif %}
			  </div>
			  <div class="row">
		      	<h5>{{ this.theme.services_headline4 | raw |_ }}</h5>
			  	{{ this.theme.services_content4 | raw |_ }}
			  </div>
		  </div>
		</div>
	</div>    
</section>
