<section class="wow" id="wow">
	
    <div class="container">
    	<h2 class="text-center">
        	{{ this.theme.wow_headline | raw |_ }}
        </h2>
        <p class="text-muted text-center">{{ this.theme.features_subheadline |_ }}</p>
        <hr>
        
		<div class="row">
		  	<div class="col-lg-3">
				<div class="row">
				{% if this.theme.wow_img1 %}  
					<img src="{{ this.theme.wow_img1 | media }}" alt="...">
				{% endif %}
				</div>
				<div class="row">
			      	<h5>{{ this.theme.wow_headline1 | raw |_ }}</h5>
				  	{{ this.theme.wow_content1 | raw |_ }}
				</div>
		  	</div>
		  	<div class="col-lg-3">
			  	<div class="row">
			{% if this.theme.wow_img2 %}  
		    	<img src="{{ this.theme.wow_img2 | media }}" alt="...">
		    {% endif %}
			  	</div>
			  	<div class="row">
			    <h5>{{ this.theme.wow_headline2 | raw |_ }}</h5>
				{{ this.theme.wow_content2 | raw |_ }}
			  	</div>
		  </div>
		  <div class="col-lg-3">
			  <div class="row">
		  	{% if this.theme.wow_img3 %}  
		    	<img src="{{ this.theme.wow_img3 | media }}" alt="...">
		    {% endif %}
			  </div>
			  <div class="row">
		      	<h5>{{ this.theme.wow_headline3 | raw |_ }}</h5>
			  	{{ this.theme.wow_content3 | raw |_ }}
			  </div>
		  </div>
		  <div class="col-lg-3">
			  <div class="row">
			{% if this.theme.wow_img4 %}  
			    <img src="{{ this.theme.wow_img4 | media }}" alt="...">
		    {% endif %}
			  </div>
			  <div class="row">
		      	<h5>{{ this.theme.wow_headline4 | raw |_ }}</h5>
			  	{{ this.theme.wow_content4 | raw |_ }}
			  </div>
		  </div>
		</div>
	</div>    

</section>
