<form data-request="{{ __SELF__ }}::onFormSubmit">

    {{ form_token() }}

    <div id="{{ __SELF__ }}_forms_flash"></div>

    <div class="form-group">
        <label for="email">{{'Phone or E-mail address'|_}}</label>
        <input type="text" id="email" name="email" class="form-control">
		<div data-validate-for="email"></div>        
    </div>

    <div class="form-group">
        <label for="comments">{{'Description'|_}}</label>
        <textarea id="comments" name="comments" rows="8" cols="8" class="form-control rounded-0"></textarea>
    </div>

    <button id="simpleContactSubmitButton" type="submit" class="btn btn-outline">{{'send' |_}}</button>

</form>
