
.btn-outline {
  color: white;
  border: 1px solid;
  border-color: white;
  :hover, :focus, :active, .active {
  	color: white;
  	border-color: #fdcc52;
  	background-color: #fdcc52;
	}
}

.btn {
  border-radius: 300px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn-xl {
  font-size: 11px;
  padding: 15px 45px;
}
