
section.contact {
  	position: relative;
  	background-color: white;
  	//padding: 10% 0;
  	//background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 240"><path fill="#0066ff" fill-opacity="1" d="M0,256L80,234.7C160,213,320,171,480,176C640,181,800,235,960,229.3C1120,224,1280,160,1360,128L1440,96L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path></svg>');
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-repeat: no-repeat;
	//height: 100%;
	//min-height: 750px;
	
	padding-bottom: 5%;
	padding-top: 5%;
		
	.btn {
		color: #0066ff;
		border-color: gray;
	} 

	h2 {
		text-align: center;
		
			font-size: 30px;
			//max-width: 600px;
			margin-top: 3%;
			margin-bottom: 25px;
			//color: @primary-color;
			.min(@tab,{
				font-size: 45px;
			});
	}

	h2 i {
		color: #dd4b39;
	}

	ul.list-social {
	  margin-bottom: 0;
	}

	ul.list-social li a {
	  font-size: 40px;
	  line-height: 80px;
	  display: block;
	  width: 80px;
	  height: 80px;
	  color: white;
	  border-radius: 100%;
	}

	ul.list-social li.social-twitter a {
	  background-color: #1da1f2;
	}

	ul.list-social li.social-twitter a:hover {
	  background-color: #0d95e8;
	}

	ul.list-social li.social-facebook a {
	  background-color: #3b5998;
	}

	ul.list-social li.social-facebook a:hover {
	  background-color: #344e86;
	}

	ul.list-social li.social-google-plus a {
	  background-color: #dd4b39;
	}

	ul.list-social li.social-google-plus a:hover {
	  background-color: #d73925;
	}

	footer {
	 	padding: 25px 0;
		text-align: left;
		//color: white;
		//background-color: #0066ff;
		
		p {
		  font-size: 12px;
		  margin: 0;
		}
	}
}

