section.cta {
  	position: relative;
  	padding: 10% 0;
  	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#0099ff" fill-opacity="1" d="M0,256L80,234.7C160,213,320,171,480,176C640,181,800,235,960,229.3C1120,224,1280,160,1360,128L1440,96L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path></svg>');
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-repeat: no-repeat;
	height: 100%;
  	
  	.face {
	  	margin-left: auto;
	  	margin-right: auto;
	  	background-image: url("../img/face.jpg");
	  	width: 150px;
		height: 150px;
  		border-radius: 50%;
		background-position: center center;
  		background-size: cover;
  		margin-top: 10px;
  		margin-bottom: 10px;
	}
  	
	.btn-outline {
		text-align: center;
		color: @primary-color;
		border: 1px solid;
		border-color: @primary-color;
	}
	
	.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
	  	color: white;
	  	border-color: #fdcc52;
	  	background-color: #fdcc52;
	}	  
  
	.cta-content {
	  	position: relative;
	  	z-index: 1;
	  	.min(@pad,{
		  	text-align: center;
	  	});
		h2 {
			font-size: 30px;
			//max-width: 600px;
			margin-top: 3%;
			margin-bottom: 25px;
			color: @primary-color;
			.min(@tab,{
				font-size: 45px;
			});
		}  
		h6 {
			font-size: 30px;
			margin: 20px;
			text-align: center;			
			margin-bottom: 25px;
			color: @primary-color;
		}
	}
}
