header.masthead {
  	position: relative;
  	width: 100%;
  	//padding-top: 150px;
  	//padding-bottom: 100px;
  	color: white;
  	margin-top: -30px;
  	//background: url("../img/shutterstock_310635362.jpg"), #7b4397;
  	//background: url("../img/shutterstock_310635362.jpg"), -webkit-linear-gradient(to left, #7b4397, #dc2430);
  	//background: url("../img/shutterstock_310635362.jpg"), linear-gradient(to left, #7b4397, #dc2430);
  	/* parallax */
  	//height: 100%;background-attachment: fixed;background-position: center;background-repeat: no-repeat;background-size: cover;  	  
	
	.header-content {
		max-width: 100%;
		margin-bottom: 100px;
		text-align: center;
		color: white;
		margin-top: -50%;		
		
		.min(@pad,{
			//margin-top: -50%;		
		});
		
		.min(@desktop, {
	    	//margin-bottom: 0;
		});
		
		.min(@hd,{
			//margin-top: 55%;		
		});

		h1 {
			font-size: 80px;
			font-weight: 300;
			.min(@hd, { 
				font-size: 120px;
			});
		}
	}

	.min(@desktop, {
	    height: 100vh;
	    min-height: 775px;
	    padding-top: 0;
	    padding-bottom: 0;		
	});
		  
	.btn-outline {
		color: @secondary-color;
		border: 1px solid;
		border-color: @secondary-color;
		&:hover, &:focus, &:active, .active {
			color: white;
			border-color: #fdcc52;
			background-color: #fdcc52;
		}	  
	}
	
	.fullscreen-bg {
    	//position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		overflow: hidden;
		width: 100%;
		height: 100%;
	}

	.fullscreen-bg__video {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	}
	
}
