#mainNav {
	border-color: rgba(34, 34, 34, 0.05);
	background-color: transparent;
	-webkit-transition: all .35s;
	-moz-transition: all .35s;
	transition: all .35s;
	font-family: @font-family;
	font-weight: 200;
	letter-spacing: 1px;
	font-size: 18px;
  		
	.navbar-brand {
		color: @menu-primary-color;
		font-family: @font-family;
		font-weight: 200;
		letter-spacing: 1px;
		&:hover, &:focus {
			color: @primary-color;
		}
	}

	.navbar-toggler {
		font-size: 18px;
		padding: 8px 10px;
		color: @menu-primary-color;
		.navbar-nav > li > a {
			font-size: 11px;
			font-family: @font-family;
			letter-spacing: 2px;
			text-transform: uppercase;
		}
	}
	
	.navbar-nav > li > {
		a.active {
			color: @menu-primary-color !important;
			background-color: transparent;
			&:hover {
				background-color: transparent;
			}
		}

		a { 
			&:focus {
				color: @menu-primary-color;
			}
			&:hover {
				color: #fdcc52;
			}		
		}

		.min(@tab,{
			border-color: transparent;
			background-color: transparent;
		});
	}

	.navbar-brand {
    	color: fade(white, 70%);
		&:hover, &:focus {
			color: white;
		}
		.navbar-nav > li > a, .navbar-nav > li > a:focus {
			color: rgba(255, 255, 255, 0.7);
		}
  	}
  	.navbar-nav > li > a:hover, .navbar-nav > li > a:focus:hover {
	    color: white;
  	}  	
}

  	#mainNav.navbar-shrink {
    	border-color: rgba(34, 34, 34, 0.1);
		background-color: white;
		.navbar-brand {
		    color: @primary-color;
		    &:hover, &:focus {
			    color: @menu-hover-primary-color;
		    }
		}
		.navbar-nav > li > a {
			&:focus {
				color: @primary-color;
			}
			&:hover, &:focus, &:hover {
				color: @menu-hover-primary-color;
			}
		}
  	}

