
//@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
//@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Catamaran&display=swap');

@pad: 320px;
@tab: 500px;
@desktop: 992px;
@hd: 1900px;

.min(@min; @rules){@media only screen and (min-width: @min){@rules();}};
.max(@max; @rules){@media only screen and (max-width: (@max - 1)){@rules();}};
.bw(@min; @max; @rules){@media only screen and (min-width: @min) and (max-width: (@max - 1)){@rules();}};

@primary-color: darkblue;
@menu-primary-color: black;
@menu-hover-primary-color: @primary-color;
@secondary-color: white;
@font-header: 'Catamaran','sans-serif';
@font-family: 'Catamaran','sans-serif';

@import 'nav';
@import 'masthead';
@import 'service';
@import 'wow';
@import 'features';
@import 'form';
@import 'technology';
@import 'contact';
@import 'button';

.parallax {
	/* Create the parallax scrolling effect */
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: @font-family;
}

a {
	color: #fdcc52;
	-webkit-transition: all .35s;
	-moz-transition: all .35s;
	transition: all .35s;
	:hover, :focus {
		color: #fcbd20;
	}
}

hr {
	max-width: 100px;
	margin: 25px auto;
	border-width: 1px;
	border-color: rgba(34, 34, 34, 0.1);
	.light {
		border-color: white;
	}  
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: @font-header;
  font-weight: 600;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.container {
	.min(@hd,{
		max-width: 1560px;
	});	
}

section {
	padding: 30px 0;
	min-height: 550px;	
	h2 {
		font-size: 50px;
	}
}

.bg-primary {
  background: #9dd7ff;
  background: -webkit-linear-gradient(#9dd7ff, #fdc539);
  background: linear-gradient(#9dd7ff, #fdc539);
  /*background: #fdcc52;
  background: -webkit-linear-gradient(#fdcc52, #fdc539);
  background: linear-gradient(#fdcc52, #fdc539);
  */
}

.text-primary {
  color: #fdcc52;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
