
section.technology {
  	position: relative;
	/* The image used */
  	background-color:rgb(244, 244, 244);
  	//background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 240"><path fill="#0066ff" fill-opacity="1" d="M0,256L80,234.7C160,213,320,171,480,176C640,181,800,235,960,229.3C1120,224,1280,160,1360,128L1440,96L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path></svg>');
	/* Create the parallax scrolling effect */
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;

	/* Full height */
	//height: 100%; 
	//max-height: 200px;
  	padding-bottom: 7%;
	padding-top: 7%;
	
	
	img {
		max-width: 150px;
	}
	
	.row {
		padding-top: 15px;	
		margin-top: 50%;
		margin: auto;
	}
	.col-md-2 {
		padding: 10px;
		text-align: center
	}
		
	h2 {
		padding-bottom: 3%;	
	}
	
	p {
		font-size: 14px;
	}
	
	h1 {
		font-size: 50px;
		margin-top: 0%;
		margin-bottom: 5%;
		.min(@tab,{
			font-size: 50px;
		});
	}  
	h5 {
		font-size: 23px;
		font-weight: 500;
		margin-top: 0%;
		margin-bottom: 5%;		
		.min(@tab,{
			font-size: 20px;
		});
	}  
	
}
