
section.wow {
	position: relative;
	//padding: 150px 0;
	background-color: white;
	//background: linear-gradient(360deg, rgba(2,0,36,1) 0%, rgba(9,55,121,1) 43%, rgba(0,234,255,0.8477766106442577) 100%);
	//background-image: url("../img/shutterstock_1069387751.png");
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-repeat: no-repeat;
	//height: 100%;
  	padding-bottom: 7%;
	padding-top: 7%;
	 
  	img {
		max-height: 150px;
		padding-bottom: 5%;
		margin-left: 50%;
		margin: auto;
	}
	
	.row {
		padding: 15px;
	}
	
	h2 {
		padding-bottom: 3%;	
	}
	
	p {
		//font-size: 14px;
	}
	
	h1 {
		font-size: 50px;
		margin-top: 0%;
		margin-bottom: 5%;
		.min(@tab,{
			font-size: 50px;
		});
	}  
	h5 {
		font-size: 23px;
		//font-weight: 500;
		margin-top: 0%;
		margin-bottom: 5%;		
		.min(@tab,{
			font-size: 28px;
		});
	}  
}
