{% if this.theme.services_enabled %}
<li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="#services">
        {{ 'Services' |_ }}
    </a>
</li>
{% endif %}
{% if this.theme.wow_enabled %}
<li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="#wow">
        {{ 'Way of working' |_ }}
    </a>
</li>
{% endif %}
<li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="#features">
        {{ 'Our Products' |_ }}
    </a>
</li>
{% if this.theme.contact_enabled %}
<li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="#contact">
        {{ 'Contact' |_ }}
    </a>
</li>
{% endif %}
<li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="/en">
        {{ 'En' |_ }}
    </a>
</li>
<li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="/pl">
        {{ 'Pl' |_ }}
    </a>
</li>
