<nav
    id="mainNav"
    class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
	        <img src="https://programmers4u.com/storage/app/media/logo4u_m.png">
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {% partial 'modules/nav-items.htm' %}
            </ul>
        </div>
    </div>
</nav>
