        
        
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
  	{% for key, feature in this.theme.features_product %}
    	<li data-target="#carouselExampleIndicators" data-slide-to="{{key}}" {% if loop.first %} class="active"{% endif %}></li>
	{% endfor %}
  	</ol>
  	<div class="carousel-inner">

  	{% for feature in this.theme.features_product %}
    	<div class="carousel-item {% if loop.first %} active {% endif %}" >
	    	<div class="row">
{% if feature.image %}		    	
		    	<div class="col-lg-4 my-auto"><img src="{{ feature.image | media }}"/></div>
		    	<div class="col-lg-1 my-auto"></div>
{% endif %}		    	
		    	<div class="col-lg-7 my-auto">
			    	<h3>{{ feature.title | raw }}</h3>
			    	{{ feature.text | raw}}
		    	</div>
	    	</div>
    	</div>
	{% endfor %}
  	</div>
  	<!--
	  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
	  	<span class="carousel-control-prev-icon" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
	    <span class="carousel-control-next-icon" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	  -->
</div>        